@charset "utf-8";

:root{
    --cor-titulo: #083c81;
    --cor-primaria: #1863d3;
    --cor-primariaEscuro: #1d3b68;
    --cor-secundaria: #0e8ea7;
    --cor-secundariaEscura: #157891;
    --cor-tomDeBranco: #F5F5F5;
    --cor-tomDeCinza: #555;
    --cor-tomDeCinzaClaro:#d5d5d5;
    --cor-erro: #dc3534;
    --cor-sombra: rgba(0, 0, 0, 0.3);

    font-size: 16px;

    --border-size-padrao: 10px;

    --size-rem-xxs: 0.25rem; /* 4px */
    --size-rem-xs: 0.5rem; /* 8px */
    --size-rem-sm: 1rem; /* 16px */
    --size-rem-md: 1.5rem; /* 24px */
    --size-rem-lg: 2rem; /* 32px */
    --size-rem-xl: 2.5rem; /* 40px */
    --size-rem-xxl: 3rem; /* 48px */
}

 /* Reset do html e body */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

 /* Reset dos títulos */
h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--cor-tomDeBranco);
    border: none;
    background-color: transparent;
}

h1{
    font-size: var(--size-rem-xl);
}

h2{
    font-size: var(--size-rem-lg);
}

h3{
    font-size: var(--size-rem-md)
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

 /* Div que contain todos os elementos da página */
div#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    position: relative;
    column-gap: var(--size-rem-md);
}

/* Navbar */
div#navbar{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row;
}

 /* TÍTULO */
 /* Seção que contém o título do site */
#container > section{
    grid-column: 1/2;
    grid-row: 1/2; 
    padding: var(--size-rem-md);
    background-color: var(--cor-titulo) ;
    align-items: center;
    display: inline-flex; /* Adicionando flexbox ao section */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

 /* Botão dentro da sessão que é o título */

 /* BARRA LATERAL */
 /* Elemento pai */
aside#barraLateralBotoes{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: var(--cor-primaria);
    overflow-x: hidden;
    overflow-y: hidden;
    direction: rtl;
}

 /* Configurações do scroll da barra lateral */
aside#barraLateralBotoes:hover,
aside#barraLateralBotoes:active,
aside#barraLateralBotoes:focus{
    overflow-y: auto;
}

aside#barraLateralBotoes::-webkit-scrollbar {
    background-color: var(--cor-secundaria);
    width: 1.2vmin;
  }
   
aside#barraLateralBotoes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cor-sombra);
    border-radius: var(--border-size-padrao);
    background-color: var(--cor-tomDeBranco);
}

aside#barraLateralBotoes::-webkit-scrollbar-thumb {
    border-radius: var(--border-size-padrao);
    -webkit-box-shadow: inset 0 0 6px var(--cor-sombra);
    background-color: var(--cor-tomDeCinza);
}

#barraPesquisa{
    direction: ltr;
    display: inline-flex;
    align-items: center;
    padding-left: 100px;
    width: 100%;
}

#barraPesquisa:focus-within{
    background-color: var(--cor-primariaEscuro);
}

#search-input{
    border-style: none;
    border-radius:  var(--border-size-padrao);
    width: 100%;
    margin: var(--size-rem-sm);
    height: var(--size-rem-xl);
    font-size: var(--size-rem-sm);
}

#search-input:focus{
    border: calc(var(--border-size-padrao) * 0.3) solid #162130;

}

input[type="search"] {
    outline: none;
    appearance: none;
    padding-left: var(--size-rem-xs);
}

 /* Formatação da área de todos os botões */
.dropdownAreas{
    position: relative;
    display: block;
}

 /* Formatação de cada botão que é uma categoria (cinemática, dinânica...) */
.btnCategorias{
    padding: var(--size-rem-xs) var(--size-rem-md);
    height: calc(var(--size-rem-md) + 2rem) ;
    width: 100%;
    border:  none;
    cursor: pointer;
    color:  var(--cor-tomDeBranco);
    background-color: inherit;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: var(--size-rem-md);
    transition: background-color 0.3s, transform 0.2s;
}

.btnCategorias:hover{
    border-left: var(--border-size-padrao) solid var(--cor-tomDeBranco);
    padding-left: 10%;
    background-color: var(--cor-primariaEscuro);
}

.btnCategorias.ativado{
    border-left: var(--border-size-padrao) solid var(--cor-tomDeBranco);
    padding-left: 10%;
    background-color: var(--cor-primariaEscuro);;
}

/* Formatação da div que abriga todos os elementos de uma categoria */
.formulasGrupo{
    opacity: 0; 
    visibility: hidden;
    display: none;
}

.formulasGrupo.visivel{
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
}


/* Formatação do botão que contém uma fórmula */
.formulasGrupo button {
    flex: 1;
    font-size: 1.2em;
    color:  var(--cor-tomDeBranco);
    text-decoration: none;
    padding: var(--size-rem-sm);
    text-align: center;
    border:none;
    cursor: pointer;
}

div.formulasGrupo > button{
    direction: ltr;
    border-bottom: var(--cor-primariaEscuro) 3px solid;
    background-color: var(--cor-secundaria);
}

div.formulasGrupo > button:hover{
    background-color: var(--cor-secundariaEscura);
}

/* MAIN */
main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    min-width: 0;
}

/* Área que as equações aparecem */
#equacao{
    flex-grow: 1;
    min-width: 0;
    margin: var(--size-rem-md);
    padding: var(--size-rem-md);
    border: 4px solid var(--cor-tomDeCinza);
    border-radius: var(--size-rem-sm);
    user-select: none;
    font-size: 1.5em;
    box-sizing: border-box;
    overflow: auto;
    scrollbar-gutter: stable    ;
}

/* Scrool da área que as equações aparecem */
#equacao::-webkit-scrollbar {
    background-color: var(--cor-tomDeBranco);
    width: 1.2vmin;
    height: 1.2vmin;
    margin: var(--size-rem-xs);
}

#equacao::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px var(--cor-sombra);
    border-radius: var(--size-rem-xs);
    background-color: var(--cor-tomDeBranco);
    margin: var(--size-rem-xs) 0px;      
}

#equacao::-webkit-scrollbar-thumb {
    border-radius: var(--size-rem-xs);
    -webkit-box-shadow: inset 0 0 6px var(--cor-sombra);
    background-color: var(--cor-tomDeCinza);
    border: 2px solid transparent;
}

/*Div que abriga os inputs, formula e resultado*/
#divFormula {
    margin-bottom: var(--size-rem-xl);
}

#divFormula input::-webkit-inner-spin-button,
#divFormula input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#divFormula input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Formatação da dos inputs que o usuário coloca o número */
.areaInteracao {
    display: flex;
    justify-content: center;
    background-color: var(--cor-tomDeCinzaClaro);
    border-radius: var(--size-rem-xs);
    padding: var(--size-rem-xs) 0px;
}

/* Área que aparecem os inputs */
.areaInteracao > div {
    font-size: 1em;
    text-align: center;
    padding: var(--size-rem-xs);
    border-radius: var(--size-rem-xs);
 
    /*display: flex;*/
    /* justify-content: center;
    flex-direction: row;
    align-items: center; */
}

.areaInteracao > div > input {
    margin-left: var(--size-rem-xs);
    margin-right: var(--size-rem-xs);
    border: 2px solid var(--cor-tomDeCinza);
    border-radius: var(--size-rem-xs);
    max-width: 6.5rem;
    padding: var(--size-rem-xs) var(--size-rem-sm);
    box-sizing: border-box;
    font-size: 0.75em;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.areaInteracao > div > input:hover {
    border-color: var(--cor-primaria); /* Cor da borda ao passar o mouse (um pouco mais clara) */
}

.areaInteracao > div > input:focus {
    border: 3px solid  var(--cor-primaria);
    box-shadow: 0 0 8px var(--cor-sombra); /* Leve sombra ao focar */
    outline: none; /* Remove o outline padrão do navegador */
}

#erro, #aviso {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: var(--size-rem-xxs) 0;
    margin: 0 calc(var(--size-rem-lg) * 2); 
    background-color: var(--cor-erro);
    font-size: 16pt;
    font-weight: 400;
    border-radius: var(--size-rem-xs);
    text-align: center;
    color: white;
    z-index: 99;
    box-sizing: border-box;
    visibility: hidden;
}

#aviso {
    background-color: darkgoldenrod;
}

/*Animações*/

.fadeIn{
    animation: slideIn 0.3s forwards;
}

.fadeOut{
    animation: slideOut 0.3s forwards;
}

footer{
    background-color: var(--cor-primariaEscuro);
}

footer > h2{
    padding-top: var(--size-rem-sm);
}

footer > div#textos{
    display: flex;
    padding:  var(--size-rem-md);
    justify-content: center;
    color: var(--cor-tomDeBranco);
}

footer > div#textos > div{
    flex: 1;
}

div#textos:first-child{
    color: rebeccapurple;
}

footer > div#textos > div h3 {
    text-align: left;
}

footer > div#barrinha{
    background-color: var(--cor-primaria);
    color: white;
    height: 4vh;
}

@keyframes slideIn{
    0% {
        opacity: 0;
        visibility: hidden;
        
    }

    50% {
        opacity: 0.5;
        visibility: visible;
    }
    
    100%{
        opacity: 1;
        visibility: visible;
    }
}


@keyframes slideOut{
    
    0%{
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 0.5;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        
    }  
}

/*ADS*/
div#bannerDir{
    grid-column: 3/4;
    grid-row: 2/3;
    
    margin-right:var(--size-rem-xxs);
}

div#bannerTop{
    grid-column: 2/3;
    grid-row: 1/2;
    
    margin-top: var(--size-rem-xxs);
}

div#bannerBaixo{
    grid-column: 2/3;
    grid-row: 3/4;
    margin-bottom:var(--size-rem-xxs);

}

.bannerAd{
    border: var(--size-rem-xxs) solid darkorchid;
}

/*Outros*/
.esconder{ 
    display: none;
}

.visualEscondido{
    opacity: 0;
}


.katex-mathml{
    position: relative !important;
}

#div.menuMobile{
    display: none;
}


/* Não usado */
button.tooltip{
    position: relative;
}

button.tooltip::before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    margin-left: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: black;
    color:  var(--cor-tomDeBranco);
    text-align: center;
    display: none;
} 