@charset "utf-8";

 /* Reset do html e body */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

 /* Reset do h1 */
h1 {
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:  #F5F5F5;;
    border: none;
    background-color: transparent;
}

 /* Div que contain todos os elementos da página */
div#container{
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    grid-template-rows: 10vh 80vh 10vh;
}

/* Navbar */
div#navbar{
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: row;
    gap: 10px;
}



 /* TÍTULO */
 /* Seção que contém o título do site */
#container > section{
    grid-column: 1/2;
    grid-row: 1/2; 
    padding: 20px;
    background-color: #41084e;
    align-items: center;
    display: inline-flex; /* Adicionando flexbox ao section */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    width: calc(100% - 80px);
    height: calc(100% - 40px);
}

 /* Botão dentro da sessão que é o título */

 /* BARRA LATERAL */
 /* Elemento pai */
aside#barraLateralBotoes{
    grid-column: 1/2;
    grid-row: 2/4;
    margin-right: 40px;
    background-color:  #4f166d  ;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    direction: rtl;
}

 /* Configurações do scroll da barra lateral */
aside#barraLateralBotoes:hover,
aside#barraLateralBotoes:active,
aside#barraLateralBotoes:focus{
    overflow-y: auto;
}

aside#barraLateralBotoes::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 1.2vmin;
  }
   
aside#barraLateralBotoes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

aside#barraLateralBotoes::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

 /* Formatação da área de todos os botões */
.dropdownAreas{
    position: relative;
    display: block;
}

 /* Formatação de cada botão que é uma categoria (cinemática, dinânica...) */
.btnCategorias{
    padding: 10px 22px;
    height: 60px;
    width: 100%;
    border:  none;
    cursor: pointer;
    color:  #F5F5F5;
    background-color:  #4f166d  ;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    transition: background-color 0.3s, transform 0.2s;
}

.btnCategorias:hover{
    background-color: rgb(21, 156, 223);
}

/* Formatação da div que abriga todos os elementos de uma categoria */
.formulasGrupo{
    opacity: 0; 
    visibility: hidden;
    display: none;
}

.formulasGrupo.visivel{
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
}


/* Formatação do botão que contém uma fórmula */
.formulasGrupo button {
    flex: 1;
    font-size: 1.2em;
    color:  #F5F5F5;;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border:none;
}

div#navbar{
    position: fixed;
    
}

div.formulasGrupo > button{
    direction: ltr;
    border-bottom: #331c3c 3px solid;
    background-color: #862b90;
}

div.formulasGrupo > button:hover{
    background-color: #9f58a7;
}


/* MAIN */
main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    position: relative;
}


/* Área que as equações aparecem */
#equacao{
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    border: 4px solid #6e6e6e;
    border-radius: 20px;
    user-select: none;
    font-size: 1.5em;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Scrool da área que as equações aparecem */
#equacao::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 1.2vmin;
    margin-top: 20px;
}

#equacao::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#equacao::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

/* Área que aparecem os inputs */
.areaInteracao {
    font-size: 1em;
    /* margin: auto 50px */
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    background-color: #e6e6e6;
    /*display: flex;*/
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

/*Div que abriga os inputs, formula e resultado*/
#divFormula {
    margin-bottom: 50px;
}

#divFormula input::-webkit-inner-spin-button,
#divFormula input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#divFormula input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

/* Formatação da dos inputs que o usuário coloca o número */
.areaInteracao > input {
    margin-left: 4px;
    margin-right: 15px;
    max-width: 100px;
    padding: 12px 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 0.75em;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.areaInteracao > input:focus {
    border: 3px solid  #621a81;
    box-shadow: 0 0 8px rgba(98, 26, 129, 0.3); /* Leve sombra ao focar */
    outline: none; /* Remove o outline padrão do navegador */
}

.areaInteracao > input:hover {
    border-color: #7e6e9f; /* Cor da borda ao passar o mouse (um pouco mais clara) */
}

#erro {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 5px 0;
    margin: 0 60px; 
    background-color: #000;
    font-size: 16pt;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    color: white;
    z-index: 99;
    box-sizing: border-box;
    visibility: hidden;
}

/*Animações*/

.fadeIn{
    animation: slideIn 0.3s forwards;
}


.fadeOut{
    animation: slideOut 0.3s forwards;
}

@keyframes slideIn{
    0% {
        opacity: 0;
        visibility: hidden;
        
    }

    50% {
        opacity: 0.5;
        visibility: visible;
    }
    
    100%{
        opacity: 1;
        visibility: visible;
    }
}


@keyframes slideOut{
    
    0%{
        opacity: 1;
        visibility: visible;
    }

    50% {
        opacity: 0.5;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
        
    }  
}

/*ADS*/
div#bannerDir{
    grid-column: 3/4;
    grid-row: 2/3;
    border: 5px solid darkorchid;
}

div#bannerTop{
    grid-column: 2/3;
    grid-row: 1/2;
    border: 5px solid darkorchid;
}

div#bannerBaixo{
    grid-column: 2/3;
    grid-row: 3/4;
    border: 5px solid darkorchid;
}

/*Outros*/
.esconder{ 
    display: none;
}

.visualEscondido{
    opacity: 0;
}


.katex-mathml{
    position: relative !important;
}

#div.menuMobile{
    display: none;
}


/* Não usado */
button.tooltip{
    position: relative;
}

button.tooltip::before {
    content: attr(data-text);
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);

    left: 100%;
    margin-left: 15px;

    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color:  #F5F5F5;
    text-align: center;
    display: none;
}

